<p><div class="container">
    <div class="row mt-2">
        <div class="col col-md-4 offset-md-4">
          <a class="btn btn-primary" routerLink="/add">Add</a>
        </div>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">firstname</th>
          <th scope="col">lastname</th>
          <th scope="col">phonenumber</th>
          <th scope="col">email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allContacts">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.firstname }}</td>
          <td>{{ item.lastname }}</td>
          <td>{{ item.phonenumber}}</td>
          <td>{{ item.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
